{% extends "base.html" %} {% block header %} {{ super() }} {% endblock %} {%
block content %} {{ super() }} {% endblock %} {% block scripts %} {{ super() }}
{% endblock %} {% block footer %} {{ super() }}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var footerInner = document.querySelector(".md-footer-meta__inner.md-grid");
    if (footerInner) {
      var customElement = document.createElement("div");
      customElement.innerHTML = '<p id="auth-status">Not logged in</p>';
      footerInner.appendChild(customElement);
    }
  });
</script>
{% endblock %}
